/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

* {
  font-family: "Poppins", sans-serif;
}

.sliderArrow {
  background: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  z-index: 100;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  &.nextArrow {
    left: auto;
    right: 0;
  }
}

.slick-track {
  overflow: visible !important;
}

.container .card {
  border: none;
  overflow: hidden;
  // /* max-width: 196px; */
  max-height: 205px;
  margin: 0 10px;
  transition: all 0.3s ease;
  height: 205px;
  // height: 130px;
  background: transparent;
  .imgContainer {
    height: 130px;
    top: -50px;
    left: 10px;
    z-index: 1;
  }
  &:hover {
    // border-radius: 4px;
    // overflow: hidden;
    .imgContainer,
    .content {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    }
    .content {
      // position: relative;
      z-index: 10;
      background: white;
    }
  }
}
.container .card .imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.container .card .content {
  background: white;
  // position: relative;
  padding: 10px 15px 0;
  color: #111;
  opacity: 0;
  // pointer-events: none;
  transform: scale(0);
  // transition: opacity 0.3s ease-in-out 0.3s;
}
.container .card .content {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  // i,
  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out 0.3s !important;
  }
}
.container .card .content .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.responsive-table {
  overflow-x: clip;
  // overflow: visible;
}
.slick-list {
  // overflow-x: hidden !important;
  overflow: visible !important;
  .slick-track {
    overflow: visible !important;
  }
}

.container .card:hover .content {
  opacity: 1;
  // transform-origin: right;
  transform: scale(1);
  i,
  h5 {
    opacity: 1;
    transform: scale(1);
  }
}

.container .card:hover {
  // transform-origin: left;
  transform: scale(1.3);
  z-index: 10;
  overflow: visible;
  //   height: 250px;

  // box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 330px) {
  .container .card .imgContainer {
    left: -2px;
  }
  .container .card {
    height: 131px;
    // margin: 10px;
  }
}
@media (max-width: 474px) {
  .sliderArrow {
    width: 10%;
  }
  .container .card {
    height: 131px;
    padding: 0 45px;
  }
}

@media (max-width: 575px) {
  .container .card:hover {
    // transform-origin: right;
    transform: scale(1.1);
  }
}
button.carousel-control-prev,
.carousel-control-next {
  background: black;
}
